Django==4.2.16
gunicorn>=21.2.0
whitenoise>=6.4.0
django-bootstrap5
django-cloudinary-storage
cloudinary
django-summernote
django-extensions
psycopg2-binary>=2.9.9
dj-database-url>=2.1.0
argon2-cffi>=23.1.0
